html {
    --color-text: #222222;
    --color-bg: #FFEFD5;
    --color-white: #ffffff;
    --color-brandlibel-blue: #2DADD6;
    --color-box-blue: #0048ce;
    --color-header: #302F2C;
    --color-header-text: #FFEFD5;
    --color-header-text-select: #FFFFFF;
}