.header {
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--color-header-text);
    background-color: var(--color-header);
    padding: 1.25rem 0;

    display: table;
    width: 100%;

    min-width: 510px;
    max-width: 1200px;
    position: relative;
    margin: auto auto;
}
.logoContainer {
    margin-left: 4em;
    vertical-align: middle;
}
.logoImg {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
}

.nav {
    margin-right: 4em;
    vertical-align: middle;
    float: right;
}

.nav > ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav > ul > li {
    display: inline;
    margin: 2rem;
}

.navLinkItem {
    color: var(--color-header-text);
}
.navLinkItem:hover {
    color: var(--color-brandlibel-blue);
}
.selectedHeaderItem {
    color: var(--color-brandlibel-blue);
}

@media only screen and (max-width: 620px) {
    .logoContainer {
        display: none;
    }
}