.projectNameLink {
	color: var(--color-white);
}
.projectNameLink:hover {
	color: var(--color-white);
    text-decoration: underline;
}
.skillListItem {
	float: left;
    list-style-position: inside;
    list-style-type: disc;
    margin-right: 1em;
}
.right {
	float: right;
	text-align: right;
}