.projectNameLink {
	color: var(--color-white);
}
.projectNameLink:hover {
	color: var(--color-white);
    text-decoration: underline;
}
.skillList{
	list-style-type: circle;
}
.skillListItem {
	float: left;
    list-style-position: inside;
    list-style-type: disc;
    margin-right: 1em;
}